<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://bj29.cn-beijing.data.alicloudccp.com/SznJkfx0%2F976818%2F62c15d07da1dd72037fc4c918f56cdf0df7e2553%2F62c15d075b7da9e2701442618850824b4644433e?di=bj29&dr=976818&f=62c15d07da1dd72037fc4c918f56cdf0df7e2553&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27QQ%25208.5.0.ipa&u=804ed756af4d457abb04f8edb116f860&x-oss-access-key-id=LTAI5t8sJLSvMtxoes9pGyTv&x-oss-additional-headers=referer&x-oss-expires=1656840581&x-oss-signature=9GBR3WuC2nr3u58MWMM60tC2Ew0Z6%2BPjP9GRLBbihnk%3D&x-oss-signature-version=OSS2</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>title</key>
                <string>QQ</string>
                <key>bundle-version</key>
                <string></string>
                <key>kind</key>
                <string>software</string>
                <key>bundle-identifier</key>
                <string>com.test.egocode</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>